Repository hmcts/am-role-assignment-batch-service, pull requests merged in 2020-09, with the labels that each got.

#9 AM-1017: Fix and clean up database connection issues.
  charts/am-role-assignment-batch-service/Chart.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignment/BaseTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/batch/DataSourceConfig.java
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-9

#10 AM-1014 Sonar fixes
  build.gradle
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/RoleAssignmentBatchApplication.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/batch/BatchConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/task/DeleteExpiredRecords.java
  src/test/java/uk/gov/hmcts/reform/roleassignmentbatch/RoleAssignmentBatchApplicationTests.java
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-10

#12 Disabling sonar
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-12

#13 AM-1005: Removing all terraform files. Keeping the folder with readme…
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-13
