Repository hmcts/am-role-assignment-batch-service, pull requests merged in 2021-12, with the labels that each got.

#181 Fixing the CVE.
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-181

#178 Am 1813 cleanup judicial booking records
  build.gradle
  charts/am-role-assignment-batch-service/values.preview.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignmentbatch/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignmentbatch/CcdToRasBatchJobIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignmentbatch/JudicalBookingBatchJobIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignmentbatch/RoleAssignmentBatchJobIntegrationTest.java
  src/integrationTest/resources/application-test.yaml
  src/integrationTest/resources/sql/judicial/insert_judicial_database.sql
  src/integrationTest/resources/sql/ras/insert_role_assignment.sql
  src/integrationTest/resources/sql/ras/insert_role_assignment_history.sql
  src/integrationTest/resources/sql/ras/insert_role_assignment_request.sql
  src/integrationTest/resources/sql/ras/role_assignment_clean_up.sql
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/config/BatchConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/config/ConfigurationBeans.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/config/DataSourceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/exception/BadDayConfigForJudicialRecords.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/task/DeleteJudicialExpiredRecords.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/util/Constants.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/writer/CcdViewWriterTemp.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/judicial/V1_3__Judicial_config_tables.sql
  src/main/resources/db/migration/ras/V1_1__init_tables.sql
  src/main/resources/db/migration/ras/V1_2__new_flag_config_tables.sql
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-178

#196 added JBS database params for aat
  charts/am-role-assignment-batch-service/Chart.yaml
  charts/am-role-assignment-batch-service/values.aat.template.yaml
  charts/am-role-assignment-batch-service/values.yaml
  docker-compose.yml
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-196

#197 added JBS database params for aat
  charts/am-role-assignment-batch-service/Chart.yaml
  charts/am-role-assignment-batch-service/values.preview.template.yaml
  charts/am-role-assignment-batch-service/values.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-197
