Repository hmcts/am-role-assignment-batch-service, pull requests merged in 2021-09, with the labels that each got.

#129 Updating the Helm chart version.
  charts/am-role-assignment-batch-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-129

#133 Removing the schedule from application
  charts/am-role-assignment-batch-service/Chart.yaml
  charts/am-role-assignment-batch-service/values.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-133

#134 Added the env name to emails.
  charts/am-role-assignment-batch-service/Chart.yaml
  charts/am-role-assignment-batch-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/service/EmailServiceImpl.java
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-134

#139 AM-1618: Create additional DB based flag for enabling the migration
  CODEOWNERS
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignmentbatch/CcdToRasBatchJobIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/config/BatchConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/config/JobRunnableDecider.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/domain/model/enums/FlagsEnum.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/task/SetupDbFlags.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/util/Constants.java
  src/test/java/uk/gov/hmcts/reform/roleassignmentbatch/launchdarkly/FeatureConditionEvaluatorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-139

#140 Add the code to provide additional DB flag check.
  build.gradle
  charts/am-role-assignment-batch-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-140

#136 Add fortify implementation
  Jenkinsfile_nightly_disabled
  build.gradle
  config/fortify-client.properties
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-136, DO NOT MERGE
