Repository hmcts/am-role-assignment-batch-service, pull requests merged in 2022-07, with the labels that each got.

#366 Suppression added
  charts/am-role-assignment-batch-service/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-366

#378 RAS batch:Fix AM Nightly build failures due to CVE issues
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-378

#379 Removing ccd-am-migration flags
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/config/BatchConfig.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/config/JobRunnableDecider.java
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/domain/model/enums/FlagsEnum.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/roleassignmentbatch/launchdarkly/FeatureConditionEvaluatorTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-379

#383 RAS Batch:java version in helm repo version update
  charts/am-role-assignment-batch-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-383

#389 RAS Batch:Merge renovate bot pr's
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-389
