Repository hmcts/am-role-assignment-batch-service, pull requests merged in 2022-03, with the labels that each got.

#248 ignore fortify scan failure
  Jenkinsfile_nightly
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-248

#254 adding dependency for enabling logs
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-254

#255 Updated the chart version
  charts/am-role-assignment-batch-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-255

#259 Am 2066 java upgrade
  charts/am-role-assignment-batch-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-259

#260 gradle upgrade to 7.4.1
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/integrationTest/java/uk/gov/hmcts/reform/roleassignmentbatch/BaseTest.java
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-260

#269 Cve Fix
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-269
