Repository hmcts/am-role-assignment-batch-service, pull requests merged in 2022-10, with the labels that each got.

#465 CVE-2021-43980
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-465

#468 Jackson CVE-2022-42003
  build.gradle
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-468

#485 master flag to default
  src/main/java/uk/gov/hmcts/reform/roleassignmentbatch/config/BatchConfig.java
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-485

#488 jbs config
  charts/am-role-assignment-batch-service/Chart.yaml
  charts/am-role-assignment-batch-service/values.yaml
Labels: ns:am, prd:am, rel:am-role-assignment-batch-service-pr-488
